<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@sswhli491-vip:1527/SSWBEI1</property>
    <property name="hibernate.connection.username">SSW2010_EY_11_MOB_OWNER</property>
    <property name="hibernate.connection.password">SSW2010_EY_11_MOB_OWNER</property>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="show_sql">false</property>
    <mapping resource="com/sabre/Redemption.hbm.xml"></mapping>
    <mapping resource="com/sabre/OfferingCoupon.hbm.xml"></mapping>
    <mapping resource="com/sabre/Location.hbm.xml"></mapping>
    <mapping resource="com/sabre/ShoppingBasketCriteria.hbm.xml"></mapping>
    <mapping resource="com/sabre/Offering.hbm.xml"></mapping>
    <mapping resource="com/sabre/PromoCodes.hbm.xml"></mapping>
    <mapping resource="com/sabre/PriceModifer.hbm.xml"></mapping>
  </session-factory>
</hibernate-configuration>
